<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/fontstyle.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/lib/share/css/jssocials.css" />
    <link rel="stylesheet" href="/lib/share/css/jssocials-theme-flat.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('includes/header.html')%> <%-include('includes/nav.html',
    categories, section)%>
    <main class="main">
      <div class="container">
        <section class="post">
          <h1 class="post__title"><%= data.title%></h1>
          <div class="post__content"><%- data.content%></div>
          <div class="post__footer">
            <div class="post__share">
              <h2 class="visually-hidden">Share</h2>
              <div id="share"></div>
            </div>
            <div class="post__views">
              <span class="fas fa-eye"></span>
              <p class="view-count"><%= data.view_count%></p>
            </div>
          </div>
          <div class="comment">
            <h2 class="comment__title">Fikrlar:</h2>
            <ul class="comment-list">
              <li class="comment-item">
                <div class="comment-profile">
                  <img src="/images/avatar.jpg" alt="profile image" />
                </div>
                <div class="comment-body">
                  <h3>Muzaffarov Adham</h3>
                  <p class="date">12.9.2021</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minima at repudiandae nostrum?
                  </p>
                </div>
              </li>
              <li class="comment-item">
                <div class="comment-profile">
                  <img src="/images/avatar.jpg" alt="profile image" />
                </div>
                <div class="comment-body">
                  <h3>Muzaffarov Adham</h3>
                  <p class="date">12.9.2021</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minima at repudiandae nostrum?
                  </p>
                </div>
              </li>
            </ul>
            <hr />
            <div class="comment__form">
              <h2>Fikr bildirish:</h2>
              <form action="/post/<%= data.id%>" method="POST">
                <label>
                  <p>Fikrning to'liq matni:</p>
                  <textarea name="body" cols="30" rows="10"></textarea>
                </label>
                <label>
                  <p>Ismingiz:</p>
                  <input type="text" name="name" required autocomplete="off" />
                </label>
                <label>
                  <p>Email:</p>
                  <input type="mail" name="mail" required />
                </label>
                <button class="form-button" type="button">Fikni yuborish</button>
              </form>
            </div>
          </div>
        </section>
        <aside class="aside">
          <div class="about-me">
            <h2 class="about-me__title">About Me</h2>
            <img
              class="about-me__avatar"
              src="/images/avatar.jpg"
              alt="Adham Muzaffarov"
            />
            <p class="about-me__text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
              magnam voluptatibus, sequi quibusdam ullam dignissimos? Accusamus
              dolore, fugit suscipit laudantium asperiores fugiat sapiente
              facere. Ducimus quas quae molestiae obcaecati itaque.
            </p>
          </div>
          <div class="popular-posts">
            <h2 class="popular-posts__title">Popular posts</h2>
            <ul class="post-list">
              <li class="post-item">
                <a href="#" class="post-item__link"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quam, repudiandae?</a
                >
              </li>
              <li class="post-item">
                <a href="#" class="post-item__link"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quam, repudiandae?</a
                >
              </li>
              <li class="post-item">
                <a href="#" class="post-item__link"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quam, repudiandae?</a
                >
              </li>
              <li class="post-item">
                <a href="#" class="post-item__link"
                  >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Quam, repudiandae?</a
                >
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </main>
    <footer class="footer">
      <p>&copy; 2021. Company name</p>
    </footer>
    <script
      src="https://kit.fontawesome.com/8c685f9586.js"
      crossorigin="anonymous"
    ></script>
    <script src="/lib/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="/lib/share/js/jssocials.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      $("#share").jsSocials({
        url: "...",
        text: "text to share",
        showLabel: false,
        showCount: false,
        shareIn: "popup",
        shares: [
          "telegram",
          "facebook",
          "twitter",
          "linkedin",
          "pinterest",
          "whatsapp",
        ],
      });
    </script>
  </body>
</html>
