<header class="header">
    <div class="container">
        <a href="#" class="logo-link">
            <img src="/images/logo.png" alt="logo">
            <p>coding</p>
        </a>
        <div class="header__search-bar">
            <form class="search-form hidden">
                <input class="search-input" name="search" type="search" placeholder="search..." autocomplete="off">
            </form>
            <button class="search-btn">
                <span class="fas fa-search"></span>
            </button>
        </div>
    </div>
</header>