html {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafb;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #1a1c23;
}

.edit{
    width: 60%;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgb(26, 28, 35, .4);
    border-radius: 1rem;
    padding: 3rem;
    margin: 5rem auto;
    
}

.edit__title{
    text-align: center;
    margin-bottom: 2rem;
}

.edit__form label {
    display: block;
    margin-bottom: 2rem;
}

.edit__form label p{
    font-size: 1.4rem;
    font-weight: 600;
    color: #7a7a7a;
    margin-bottom: 0.5rem;
}

.edit__form input,
.edit__form select,
.edit__form textarea {
    width: 100%;
    display: inline-block;
    padding: 1rem;
    border: none;
    border: 1px solid #333;
    font-size: 1.4rem;
    border-radius: .5rem;
}

.edit__form .form-submit,
.edit__form .back {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: #4285F4;
    color: #fff;
    border-radius: .5rem;
}

.edit__form .back{
    background-color:#ffbb33 !important; 
}

.edit__form .back:hover{
    background-color: #ffb217; 
}

.edit__form .form-submit:hover{
    background-color:#1e74ff;
}