<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/fontstyle.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login">
        <h1 class="login__title">Login</h1>
        <form class="login__form">
            <input type="text" class="login__username input" autocomplete="off" required>
            <input type="password" class="login__password input" required>
            <button type="submit" class="login__button">Login</button>
        </form>
    </div>
</body>
</html>