<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link href="/lib/summernote/css/summernote-lite.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontstyle.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <%- include('./includes/aside.html', {page: 'post'})%>
    <main class="main">
        <%- include('./includes/header.html')%>
        <section class="main__section">
            <div class="post">
                <div class="post__box">
                    <h1 class="post__title">New post adding</h1>
                    <form action="/admin/post/insert" method="POST" enctype="multipart/form-data" class="post__form">
                        <label>
                            <p>Title:</p>
                            <input type="text" name="title" class="title" placeholder="title..." autocomplete="off" required >
                        </label>
                        <label>
                            <p>Category:</p>
                            <select name="category" class="category" required>
                                <% for(item of category){ %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                <% } %>
                            </select>
                        </label>
                        <label>
                            <p>Image:</p>
                            <input name="image" type="file" class="image" required>
                        </label>
                        <label>
                            <p>Post content:</p>
                            <textarea id="summernote" name="post" class="content"></textarea>
                        </label>
                        <button type="submit" class="btn form-submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
     <script src="/lib/jquery/jquery-3.5.1.slim.min.js"></script>
     <script src="/lib/summernote/js/summernote-lite.min.js"></script>
     <script src="/js/admin.js"></script>
</body>
</html>